/******* global config *******/

// nib

@import 'nib'
global-reset()

// colors

black     = #2e2c2d
blueDark  = #2c384b
blueNavy  = #2c3e4e
green     = #09bfa8
grey      = #f1eff0
greyDark  = #a5a3a2
greyLight = #d3d3d3
purple    = #b096e1
white     = #e2eef5
whitePure = #ffffff
yellow    = #eec801

// font

@font-face {
  font-family Montserrat
  font-style normal
  font-weight normal
  src url('./res/font/Montserrat-Regular.ttf') format('truetype')
}

// style
html
  height 100%

body
  background-color grey
  display flex
  font-family Montserrat
  height 100%

  >div
    float left

/*****************************/

/***************** left bar *****************/

#leftBar
  background-color blueNavy
  box-sizing border-box
  height 100%
  width 13rem

  .active
    background-color blueDark

  .title
    color white
    font-size 1.35rem
    padding 1rem

    i.fa
      color purple
      margin-right .8rem

  .world
    color white
    font-size .9rem
    padding 1rem 0

    >span
      color lightGrey
      display block
      margin 0 0 .5rem 1rem
      opacity .7

    .list
      cursor pointer
      padding .5rem 1rem .5rem 1.5rem

      &:hover
        background-color blueDark

      i
        margin-right 1rem

/********************************************/

/***************** content board *****************/

#content
  flex 1
  min-width 50rem

  >div
    color greyDark
    padding 1rem

  .boxInfo
    display flex
    padding 1rem .5rem

    >div
      background-color whitePure
      border 1px solid grey
      display flex
      flex 1
      margin 0 .5rem
      padding .8rem 1rem

      i.fa
        border-radius 50%
        color whitePure
        padding 1.1rem

      span
        font-size .8rem
        margin .2rem 0 0 1rem

        &:after
          display block
          margin-top .5rem

        &:before
          color black
          font-size 1.35rem
          margin-right .3rem

    .expert

      i.fa
        background-color yellow

      span:after
        content 'in 'attr(data-agent)

      span:before
        content attr(data-expert)

    .paper

      i.fa
        background-color purple

      span:after
        content attr(data-sentence)' two-value sentences'

      span:before
        content attr(data-paper)


    .subject

      i.fa
        background-color green

      span:after
        content attr(data-log)' experiment logs'

      span:before
        content attr(data-subject)

  .title
    background-color whitePure
    border-bottom 2px solid rgba(184, 184, 184, .5)
    color greyDark

    &:after
      content 'ID : 'attr(data-pmid)
      float right
      font-size .8rem
      font-style italic
      position relative
      top .5rem


  .world
    background-color whitePure
    border-bottom 2px solid grey
    font-size 1.35rem

    &:after
      content attr(data-update-date) ' updated'
      float right
      font-size .8rem
      font-style italic
      position relative
      top .8rem

    &:before
      color black
      content attr(data-world-name)
      margin-right 3rem
