html
  head
    title validCS

  body
    #leftBar
      .title
        i.fa.fa-superpowers
        span MBILab

      .world
        span PPI

    #content(data-world='PPI' data-box='Box 1')
      .world(data-world-name='Protein-Protein Interaction') Box 1

      .title(data-pmid='25626168') Non-catalytic motor domains enable processive movement and functional diversification of the kinesin-14 Kar3.

      .boxInfo
        .paper
          i.fa.fa-file-text
          span Papers

        .subject
          i.fa.fa-user-plus
          span Subjects

        .expert
          i.fa.fa-graduation-cap
          span(data-expert='2' data-agent='NCKU') Experts

      .article
        div
