html
  head
    link(href='./app.css' rel='stylesheet')
    meta(charset='utf-8')
    title validCS
  body
    #labeler_score_boxPlot
    #labeler_score_scatterPlot

    #crowdSourcing_verification_FScore
    #crowdSourcing_verification_Precision
    #crowdSourcing_verification_Recall

    #simulation_verification

    #quantity_quality
    script(src='./app.js')
