html
  head
    title validCS

  body
    #leftBar
      .title
        i.fa.fa-superpowers
        span MBILab

      .world
        span PPI

        .list.active(data-box='Box1')
          i.fa.fa-folder-open-o
          span Box 1

        .list(data-box='Box2')
          i.fa.fa-folder-open-o
          span Box 2

    #content(data-world='PPI' data-box='Box1')
      .world(data-world-name='Protein-Protein Interaction' data-update-date='2017.02.28') Box 1
      .title(data-pmid='25626168') Non-catalytic motor domains enable processive movement and functional diversification of the kinesin-14 Kar3.
      .boxInfo
        .paper
          i.fa.fa-file-text
          span(data-paper='6' data-sentence='525') Papers

        .subject
          i.fa.fa-user-plus
          span(data-subject='4' data-log='8') Subjects

        .expert
          i.fa.fa-graduation-cap
          span(data-expert='2' data-agent='NCKU') Experts

