html
  head
    link(href='./app.css' rel='stylesheet')
    meta(charset='utf-8')
    title validCS
  body
    #subjects_boxPlot
    #subjects_scatter_fScore
    #subjects_scatter_precision
    #subjects_scatter_recall
    #crowdSourcing
    #simulation
    script(src='./app.js')
