html
  head
    link(rel='stylesheet' href='./app.css')
    script(src='/socket.io/socket.io.js')
    title Markteria.v2
  body
    ul#entity
      li
        input.tgl(id='gene' type='checkbox')
        label.tgl-btn(data-entity='Gene' for='gene')
      li
        input.tgl(id='protein' type='checkbox')
        label.tgl-btn(data-entity='Protein' for='protein')
      li
        input.tgl(id='dna' type='checkbox')
        label.tgl-btn(data-entity='DNA' for='dna')
      li
        input.tgl(id='rna' type='checkbox')
        label.tgl-btn(data-entity='RNA' for='rna')
      li
        input.tgl(id='cell_line' type='checkbox')
        label.tgl-btn(data-entity='Cell_Line' for='cell_line')
      li
        input.tgl(id='pathway' type='checkbox')
        label.tgl-btn(data-entity='Pathway' for='pathway')

    ul#sentences

    script(src='./app.js')
